* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'RobotoCondensedRegular', 'Arial', sans-serif;
	font-size: 18px;
	color: black;
	background-color: #ededed;
}

ul {
	margin: 0;
	padding: 0;
}

ul li {
	list-style: none;
}

a {
	text-decoration: none;
}

:focus,
a:active,
a:hover {
	outline: 0;
}

@font-face {
	font-family: 'RobotoCondensedRegular';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot');
	src: url('../fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot?#iefix') format('embedded-opentype'), url('../fonts/RobotoCondensedRegular/RobotoCondensedRegular.woff') format('woff'), url('../fonts/RobotoCondensedRegular/RobotoCondensedRegular.ttf') format('truetype');
}

@font-face {
	font-family: 'RobotoCondensedLight';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/RobotoCondensedLight/RobotoCondensedLight.eot');
	src: url('../fonts/RobotoCondensedLight/RobotoCondensedLight.eot?#iefix') format('embedded-opentype'), url('../fonts/RobotoCondensedLight/RobotoCondensedLight.woff') format('woff'), url('../fonts/RobotoCondensedLight/RobotoCondensedLight.ttf') format('truetype');
}

@font-face {
	font-family: 'RobotoCondensedBold';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/RobotoCondensedBold/RobotoCondensedBold.eot');
	src: url('../fonts/RobotoCondensedBold/RobotoCondensedBold.eot?#iefix') format('embedded-opentype'), url('../fonts/RobotoCondensedBold/RobotoCondensedBold.woff') format('woff'), url('../fonts/RobotoCondensedBold/RobotoCondensedBold.ttf') format('truetype');
}

.hvr-radial-out {
	position: relative;
	display: inline-block;
	overflow: hidden;
	-webkit-transition-duration: .3s;
	transition-duration: .3s;
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	vertical-align: middle;
	background: #e1e1e1;
	-webkit-box-shadow: 0 0 1px transparent;
	box-shadow: 0 0 1px transparent;
}

.hvr-radial-out:before {
	position: absolute;
	z-index: -1;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	content: '';
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	-webkit-transition-duration: .3s;
	transition-duration: .3s;
	-webkit-transition-property: -webkit-transform;
	transition-property: -webkit-transform;
	transition-property: transform;
	transition-property: transform, -webkit-transform;
	-webkit-transform: scale(0);
	transform: scale(0);
	border-radius: 100%;
	background: #2098d1;
}

.hvr-radial-out:hover,
.hvr-radial-out:focus,
.hvr-radial-out:active {
	color: white;
}

.hvr-radial-out:hover:before,
.hvr-radial-out:focus:before,
.hvr-radial-out:active:before {
	-webkit-transform: scale(2);
	transform: scale(2);
}

.hvr-push {
	display: inline-block;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	vertical-align: middle;
	-webkit-box-shadow: 0 0 1px transparent;
	box-shadow: 0 0 1px transparent;
}

.hvr-push:hover,
.hvr-push:focus,
.hvr-push:active {
	-webkit-animation-name: hvr-push;
	animation-name: hvr-push;
	-webkit-animation-duration: .3s;
	animation-duration: .3s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
}

.hvr-pop {
	display: inline-block;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	vertical-align: middle;
	-webkit-box-shadow: 0 0 1px transparent;
	box-shadow: 0 0 1px transparent;
}

.hvr-pop:hover,
.hvr-pop:focus,
.hvr-pop:active {
	-webkit-animation-name: hvr-pop;
	animation-name: hvr-pop;
	-webkit-animation-duration: .3s;
	animation-duration: .3s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
}

.box {
	position: relative;
	width: 1100px;
	margin: 0 auto 50px;
	padding-top: 40px;
	background-color: white;
}

.box:after {
	position: absolute;
	top: 74px;
	left: 50px;
	width: 370px;
	height: 5px;
	content: '';
	background-color: #99cc32;
}

.box:before {
	position: absolute;
	top: 74px;
	right: 50px;
	width: 370px;
	height: 5px;
	content: '';
	background-color: #99cc32;
}

.box--red:after {
	background-color: #ca1d1d;
}

.box--red:before {
	background-color: #ca1d1d;
}

.box--specialist:after {
	width: 250px;
}

.box--specialist:before {
	width: 250px;
}

.box--helpful:after {
	width: 280px;
	background-color: #ca1d1d;
}

.box--helpful:before {
	width: 280px;
	background-color: #ca1d1d;
}

.box--phone:after {
	width: 250px;
	background-color: #ca1d1d;
}

.box--phone:before {
	width: 250px;
	background-color: #ca1d1d;
}

.box--address:after {
	width: 320px;
	background-color: #ca1d1d;
}

.box--address:before {
	width: 320px;
	background-color: #ca1d1d;
}

.box h2.head {
	font-size: 48px;
	font-weight: 300;
	line-height: normal;
	padding-bottom: 49px;
	text-align: center;
	letter-spacing: .413793px;
	text-transform: uppercase;
}

.site-header {
	background: #343434;
}

.site-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: row;
	width: 1100px;
	margin: 0 auto;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
}

.custom-logo-link {
	width: 121px;
	height: 78px;
}

.site-branding {
	padding: 20px 0 19px 49px;
}

.menu {
	display: -webkit-box !important;
	display: -ms-flexbox !important;
	display: flex !important;
	flex-direction: row;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	-ms-flex-pack: distribute;
	justify-content: space-around;
}

.menu-item a {
	-webkit-transition: color .5s ease;
	transition: color .5s ease;
	letter-spacing: .165517px;
	color: white;
}

.menu-item a:hover {
	color: #99cc32;
}

.main-navigation {
	padding-top: 48px;
	padding-bottom: 48px;
}

.sub-menu {
	border: solid 1px white;
	background: #343434;
}

.menu-item-has-children > a:after {
	font-family: 'FontAwesome', 'Arial', sans-serif;
	display: inline-block;
	padding-left: 5px;
	content: '\f078';
	-webkit-transition: color .5s ease;
	transition: color .5s ease;
	color: white;
}

.menu-item-has-children:hover > a:after {
	color: #99cc32;
}

.menu-item-has-children ul li a {
	margin: 10px;
}

.site-footer {
	height: 91px;
	background: #343434;
}

.site-footer .site-branding {
	padding: 20px 0 0 0;
}

.site-footer .custom-logo-link {
	height: auto;
}

.site-footer .main-navigation {
	padding-top: 32px;
	padding-bottom: 0;
}

.promo {
	position: relative;
	width: 100%;
	height: 583px;
	margin: 0 0 101px 0;
}

.promo__img {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}

.promo__wrap {
	position: absolute;
	top: 0;
	left: 50%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: row;
	width: 1100px;
	padding-top: 10px;
	padding-bottom: 10px;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.promo__box {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 67px;
	opacity: .7;
	background-color: white;
	-webkit-box-shadow: 0 5px 8px -2px #858785;
	box-shadow: 0 5px 8px -2px #858785;
}

.promo__marker {
	font-size: 21px;
	padding-right: 19px;
}

.promo__marker--green {
	color: #99cc32;
}

.promo__phone {
	color: #ca1d1d;
}

.promo__block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: row;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.promo__text {
	font-size: 16px;
	line-height: 24px;
	letter-spacing: .17px;
}

.promo__text--phone {
	width: 120px;
}

.promo__text--address {
	width: 380px;
}

.promo__text--ooo {
	width: 305px;
}

.promo__price {
	position: absolute;
	top: 0;
	left: 0;
}

.promo__holder {
	position: absolute;
	bottom: -51px;
	left: 50%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: row;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.promo__container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: row;
	width: 316px;
	height: 102px;
	border-radius: 7px;
	-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
	box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.promo__container--red {
	margin-right: 24px;
	background-color: #ca1d1d;
}

.promo__container--green {
	background-color: #99cc32;
}

.promo__desc {
	font-size: 24px;
	font-weight: bold;
	letter-spacing: .248276px;
	text-transform: uppercase;
	color: white;
}

.promo__pict {
	height: 77px;
	padding-right: 32px;
	padding-left: 24px;
}

.promo__price {
	line-height: normal;
	position: absolute;
	top: 238px;
	left: 49px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 451px;
	height: 111px;
	padding-top: 10px;
	border: 2px solid #99cc32;
	border-radius: 7px;
	background-color: rgba(255, 255, 255, .6);
}

.promo__price--text {
	font-size: 24px;
	text-align: center;
	letter-spacing: .310345px;
}

.promo__price--bold {
	font-size: 42px;
	text-align: center;
	opacity: 1;
}

.services {
	position: relative;
	padding-bottom: 20px;
}

.services__caption {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: row;
	padding-right: 50px;
	padding-left: 50px;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.services__item {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 30%;
	margin-right: 25px;
	margin-bottom: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
	cursor: pointer;
	text-align: center;
	border: 2px solid #99cc32;
	border-radius: 10px;
	background: rgba(153, 204, 50, .0959013);
}

.services__item:nth-child(3n) {
	margin-right: 0;
}

.services__item:hover .services__link {
	color: #99cc32;
}

.services__link {
	font-size: 18px;
	-webkit-transition: color .8s ease;
	transition: color .8s ease;
	letter-spacing: .33px;
	color: black;
}

.services__link:visited {
	color: #5c7a1e;
}

.shares {
	position: relative;
	padding-bottom: 50px;
}

.shares__caption {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: row;
	height: 100%;
	padding-right: 50px;
	padding-left: 50px;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
}

.shares__item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 30%;
	margin-right: 25px;
	margin-bottom: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
	cursor: pointer;
	text-align: center;
	border: 2px solid #ca1d1d;
	border-radius: 10px;
	background: white;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.shares__item:nth-child(3n) {
	margin-right: 0;
}

.shares__item:hover .shares__link {
	color: #ca1d1d;
}

.shares__item p {
	margin-bottom: 0;
}

.shares__link {
	font-size: 18px;
	-webkit-transition: color .8s ease;
	transition: color .8s ease;
	letter-spacing: .33px;
	color: black;
}

.shares__link:visited {
	color: #711010;
}

a.shares-button {
	font-size: 24px;
	font-weight: bold;
	width: 367px;
	height: 56px;
	letter-spacing: .248276px;
	text-transform: uppercase;
	color: white;
	border-radius: 7px;
	background-color: #ca1d1d;
	-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
	box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
}

.shares__block {
	text-align: center;
}

.about {
	position: relative;
	padding-bottom: 50px;
}

.about__caption {
	padding-right: 50px;
	padding-left: 50px;
}

.about a {
	font-size: 18px;
	font-weight: bold;
	line-height: normal;
	-webkit-transition: color .7s ease;
	transition: color .7s ease;
	letter-spacing: .3px;
	color: #89c526;
	-webkit-text-decoration-line: underline;
	text-decoration-line: underline;
}

.about a:hover {
	color: #b7e36e;
	-webkit-text-decoration-line: none;
	text-decoration-line: none;
}

.about h2 {
	padding-bottom: 10px;
}

.specialist {
	position: relative;
	padding-bottom: 50px;
}

.specialist__caption {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: row;
	padding-right: 50px;
	padding-left: 50px;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.specialist__name {
	font-size: 20px;
	font-weight: bold;
	padding-bottom: 7px;
	text-align: center;
	letter-spacing: .258621px;
}

.specialist__position {
	font-size: 18px;
	font-weight: normal;
	line-height: normal;
	text-align: center;
	letter-spacing: .258621px;
	color: #353535;
}

.specialist__foto {
	width: 315px;
	height: 380px;
	margin: 0;
	padding-bottom: 17px;
}

.specialist__img {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	-o-object-fit: cover;
	object-fit: cover;
}

.helpful {
	position: relative;
	padding-bottom: 20px;
}

.helpful__caption {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: row;
	padding-right: 50px;
	padding-left: 50px;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.helpful__item {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 48%;
	margin-bottom: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
	cursor: pointer;
	text-align: center;
	border: 2px solid #ca1d1d;
	border-radius: 10px;
	background: white;
}

.helpful__item:nth-child(2n) {
	margin-right: 0;
}

.helpful__item:hover .helpful__link {
	color: #ca1d1d;
}

.helpful__link {
	font-size: 18px;
	-webkit-transition: color .8s ease;
	transition: color .8s ease;
	letter-spacing: .33px;
	color: black;
}

.helpful__link:visited {
	color: #711010;
}

.helpful__block {
	padding-bottom: 20px;
	text-align: center;
}

.review {
	position: relative;
	padding-bottom: 20px;
}

.review__caption {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: row;
	padding-right: 50px;
	padding-left: 50px;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.review__item {
	position: relative;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	margin-bottom: 15px;
	padding: 20px 68px;
	text-align: left;
	border: 2px solid #99cc32;
	border-radius: 10px;
	background: #f5faeb;
}

.review__item:before {
	font-family: 'FontAwesome', 'Arial', sans-serif;
	font-size: 18px;
	position: absolute;
	top: 10px;
	left: 17px;
	display: block;
	content: '\f10d';
	color: #99cc32;
}

.review__item:after {
	font-family: 'FontAwesome', 'Arial', sans-serif;
	font-size: 18px;
	position: absolute;
	right: 17px;
	bottom: 10px;
	display: block;
	content: '\f10e';
	color: #99cc32;
}

.review__title {
	font-size: 18px;
	font-weight: bold;
	line-height: normal;
	letter-spacing: .33px;
}

.review__content {
	font-size: 14px;
	letter-spacing: .33px;
}

.review__content p {
	margin-bottom: 0;
}

.phone {
	position: relative;
	padding-bottom: 50px;
}

.phone__caption {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: row;
	padding-right: 50px;
	padding-left: 50px;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.phone__number {
	font-size: 48px;
	font-weight: bold;
	line-height: normal;
	text-align: center;
	letter-spacing: .413793px;
	color: #ca1d1d;
}

.phone__number--one {
	margin-right: 100px;
}

.address {
	position: relative;
	padding-bottom: 50px;
}

.address__caption {
	padding-right: 50px;
	padding-left: 50px;
}

.address__number {
	text-align: center;
	letter-spacing: .413793px;
	color: #000;
}

.address__block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.address__number--one {
	font-size: 36px;
}

.address__number--two {
	font-size: 24px;
	padding-bottom: 28px;
}

.address__foto {
	width: 999px;
	height: 667px;
	margin: 0;
}

.address__img {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}

@media only screen and (min-device-width: 891px) and (max-width: 1199px) {

.promo__wrap {
	width: 100%;
}

}

@media only screen and (max-width: 890px) {

.promo__wrap {
	flex-direction: column;
	width: 100%;
	min-width: 320px;
	opacity: .7;
	background-color: white;
	-webkit-box-shadow: 0 5px 8px -2px #858785;
	box-shadow: 0 5px 8px -2px #858785;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
}

.promo__box {
	display: none;
}

.promo__text--ooo {
	padding-bottom: 10px;
}

.promo__text--address {
	width: 100%;
	margin-right: 10px;
}

.promo__marker {
	margin-right: 10px;
	margin-left: 10px;
	padding: 0;
}

.promo__block {
	padding-bottom: 10px;
}

.promo__phone {
	padding-bottom: 0;
}

.promo__price {
	left: 50%;
	display: none;
	width: 95%;
	height: auto;
	padding-bottom: 10px;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

.promo__price--text,
.promo__price--bold {
	font-size: 20px;
}

.promo {
	height: 80vh;
	margin: 0;
}

.promo__holder {
	bottom: 5px;
	flex-direction: column;
	width: 90%;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
}

.promo__container {
	width: 100%;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.promo__container--red {
	margin-right: 0;
	margin-bottom: 10px;
}

.promo__pict {
	padding-right: 10px;
	padding-left: 0;
}

}

@media only screen and (min-device-width: 768px) and (max-width: 1199px) {

.box {
	width: 100%;
}

.box:after {
	width: 30%;
}

.box:before {
	width: 30%;
}

.box--phone:after,
.box--address:after {
	width: 15%;
}

.box--phone:before,
.box--address:before {
	width: 15%;
}

.box--specialist:after,
.box--helpful:after {
	width: 12%;
}

.box--specialist:before,
.box--helpful:before {
	width: 12%;
}

.site-wrap {
	width: 100%;
}

.site-footer .site-branding {
	padding: 20px 0 0 20px;
}

.specialist__caption {
	-ms-flex-pack: distribute;
	justify-content: space-around;
}

.phone__number--one {
	margin-right: 20px;
}

.address__foto {
	width: 90%;
	height: auto;
	margin: 0 auto;
}

}

@media only screen and (max-width: 767px) {

.box {
	width: 100%;
	min-width: 320px;
	margin: 0 auto 20px;
	padding-top: 10px;
}

.box:after {
	top: 42px;
	left: 10%;
	width: 15%;
}

.box:before {
	top: 42px;
	right: 10%;
	width: 15%;
}

.box h2.head {
	padding-bottom: 20px;
}

.box--helpful:after,
.box--phone:after,
.box--address:after {
	display: none;
}

.box--helpful:before,
.box--phone:before,
.box--address:before {
	display: none;
}

.site-wrap {
	width: 100%;
	min-width: 320px;
}

.menu-item-has-children > a:after {
	content: '';
}

.sub-menu {
	border: none;
}

.site-branding {
	margin: 0 auto;
	padding: 0 0 20px 0;
}

.services {
	padding-bottom: 10px;
}

.services__caption {
	padding-right: 10px;
	padding-left: 10px;
}

.services__item {
	width: 90%;
	margin-right: 0;
	margin-bottom: 10px;
}

.shares {
	padding-bottom: 10px;
}

.shares__item {
	width: 90%;
	margin-right: 0;
	margin-bottom: 10px;
	padding: 10px;
}

a.shares-button {
	width: 90%;
}

.shares__caption {
	padding-right: 10px;
	padding-left: 10px;
}

.about {
	padding-bottom: 10px;
}

.about__caption {
	padding-right: 20px;
	padding-left: 20px;
}

.specialist {
	padding-bottom: 10px;
}

.specialist__caption {
	flex-direction: column;
	padding-right: 10px;
	padding-left: 10px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.helpful {
	padding-bottom: 10px;
}

.helpful__caption {
	flex-direction: column;
	padding-right: 10px;
	padding-left: 10px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.helpful__item {
	width: 90%;
	margin-right: 0;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.helpful__block {
	padding-bottom: 10px;
}

.review {
	padding-bottom: 10px;
}

.review__caption {
	padding-right: 10px;
	padding-left: 10px;
}

.review__item {
	padding: 20px 40px;
}

.phone {
	padding-bottom: 10px;
}

.phone__caption {
	flex-direction: column;
	padding-right: 10px;
	padding-left: 10px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
}

.phone__number--one {
	margin-right: 0;
}

.address {
	padding-bottom: 10px;
}

.address__caption {
	padding-right: 10px;
	padding-left: 10px;
}

.address__foto {
	width: 90%;
	height: auto;
	margin: 0 auto;
}

}

@-webkit-keyframes hvr-push {

50% {
	-webkit-transform: scale(.8);
	transform: scale(.8);
}

100% {
	-webkit-transform: scale(1);
	transform: scale(1);
}

}

@keyframes hvr-push {

50% {
	-webkit-transform: scale(.8);
	transform: scale(.8);
}

100% {
	-webkit-transform: scale(1);
	transform: scale(1);
}

}

@-webkit-keyframes hvr-pop {

50% {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}

}

@keyframes hvr-pop {

50% {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}

}

