.hvr-radial-out {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
  background: #e1e1e1;
  transition-property: color;
  transition-duration: 0.3s;
}

.hvr-radial-out:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2098D1;
  border-radius: 100%;
  transform: scale(0);
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.hvr-radial-out:hover, .hvr-radial-out:focus, .hvr-radial-out:active {
  color: white;
}

.hvr-radial-out:hover:before, .hvr-radial-out:focus:before, .hvr-radial-out:active:before {
  transform: scale(2);
}

@-webkit-keyframes hvr-push {
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes hvr-push {
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

.hvr-push {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}

.hvr-push:hover, .hvr-push:focus, .hvr-push:active {
  animation-name: hvr-push;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

@-webkit-keyframes hvr-pop {
  50% {
    transform: scale(1.2);
  }
}

@keyframes hvr-pop {
  50% {
    transform: scale(1.2);
  }
}

.hvr-pop {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}

.hvr-pop:hover, .hvr-pop:focus, .hvr-pop:active {
  animation-name: hvr-pop;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

.box {
  width: 1100px;
  background-color: white;
  margin: 0 auto 50px;
  position: relative;
  padding-top: 40px;
  &:after {
    content: '';
    position: absolute;
    width: 370px;
    height: 5px;
    background-color: #99CC32;
    top: 74px;
    left: 50px;
  }
  &:before {
    content: '';
    position: absolute;
    width: 370px;
    height: 5px;
    background-color: #99CC32;
    top: 74px;
    right: 50px;
  }
}

.box--red {
  &:after {
    background-color: #CA1D1D;
  }
  &:before {
    background-color: #CA1D1D;
  }
}

.box--specialist {
  &:after {
    width: 250px;
  }
  &:before {
    width: 250px;
  }
}

.box--helpful {
  &:after {
    width: 280px;
    background-color: #CA1D1D;
  }
  &:before {
    width: 280px;
    background-color: #CA1D1D;
  }
}

.box--phone {
  &:after {
    width: 250px;
    background-color: #CA1D1D;
  }
  &:before {
    width: 250px;
    background-color: #CA1D1D;
  }
}

.box--address {
  &:after {
    width: 320px;
    background-color: #CA1D1D;
  }
  &:before {
    width: 320px;
    background-color: #CA1D1D;
  }
}

.box h2.head {
  text-transform: uppercase;
  font-weight: 300;
  line-height: normal;
  font-size: 48px;
  text-align: center;
  letter-spacing: 0.413793px;
  padding-bottom: 49px;
}

@media only screen and (min-device-width: 768px) and (max-width: 1199px) {
  .box {
    width: 100%;

    &:after {
      width: 30%;
    }
    &:before {
      width: 30%;
    }
  }
  .box--specialist, .box--helpful, .box--phone, .box--address {
    &:after {
      width: 20%;
    }
    &:before {
      width: 20%;
    }
  }
}

@media only screen and (max-width: 767px) {
  .box {
    width: 100%;
    min-width: 320px;
    padding-top: 10px;
    margin: 0 auto 20px;

    &:after {
      width: 15%;
      top: 42px;
      left: 10%;
    }
    &:before {
      width: 15%;
      top: 42px;
      right: 10%;
    }
  }
  .box h2.head {
    padding-bottom: 20px;
  }
  .box--helpful, .box--phone, .box--address {
    &:after {
      display: none;
    }
    &:before {
      display: none;
    }
  }
}