.hvr-radial-out {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
  background: #e1e1e1;
  transition-property: color;
  transition-duration: 0.3s;
}

.hvr-radial-out:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2098D1;
  border-radius: 100%;
  transform: scale(0);
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.hvr-radial-out:hover, .hvr-radial-out:focus, .hvr-radial-out:active {
  color: white;
}

.hvr-radial-out:hover:before, .hvr-radial-out:focus:before, .hvr-radial-out:active:before {
  transform: scale(2);
}

@-webkit-keyframes hvr-push {
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes hvr-push {
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

.hvr-push {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}

.hvr-push:hover, .hvr-push:focus, .hvr-push:active {
  animation-name: hvr-push;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

@-webkit-keyframes hvr-pop {
  50% {
    transform: scale(1.2);
  }
}

@keyframes hvr-pop {
  50% {
    transform: scale(1.2);
  }
}

.hvr-pop {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}

.hvr-pop:hover, .hvr-pop:focus, .hvr-pop:active {
  animation-name: hvr-pop;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

.box {
  width: 1100px;
  background-color: white;
  margin: 0 auto 50px;
  position: relative;
  padding-top: 40px;
  &:after {
    content: '';
    position: absolute;
    width: 370px;
    height: 5px;
    background-color: #99CC32;
    top: 74px;
    left: 50px;
  }
  &:before {
    content: '';
    position: absolute;
    width: 370px;
    height: 5px;
    background-color: #99CC32;
    top: 74px;
    right: 50px;
  }
}

.box--about {
  &:after {
    top: 92px;
  }
  &:before {
    top: 92px;
  }
}

.box--red {
  &:after {
    background-color: #CA1D1D;
  }
  &:before {
    background-color: #CA1D1D;
  }
}

.box--specialist {
  &:after {
    width: 250px;
  }
  &:before {
    width: 250px;
  }
}

.box--helpful {
  &:after {
    width: 280px;
    background-color: #CA1D1D;
  }
  &:before {
    width: 280px;
    background-color: #CA1D1D;
  }
}

.box--phone {
  &:after {
    width: 250px;
    background-color: #CA1D1D;
  }
  &:before {
    width: 250px;
    background-color: #CA1D1D;
  }
}

.box--address {
  &:after {
    width: 320px;
    background-color: #CA1D1D;
  }
  &:before {
    width: 320px;
    background-color: #CA1D1D;
  }
}

.box h2.head {
  text-transform: uppercase;
  font-weight: 300;
  line-height: normal;
  font-size: 48px;
  text-align: center;
  letter-spacing: 0.413793px;
  padding-bottom: 49px;
}

.site-content {
  display: flex;
  flex-direction: row;
  width: 1100px;
  margin: 0 auto;
  padding: 10px;
}

.content-area {
  width: 70%;
  background-color: white;
  margin-right: 30px;
  padding: 20px;
  border-radius: 10px;
}

.widget-area {
  width: 30%;
}

.widget {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}

.widget a, .site-main a {
  color: $color-green;
  transition: color .8s ease;
  &:visited {
    color: darken($color-green, 20%);
  }
  &:hover {
    color: darken($color-green, 10%);
  }
}

.widget input[type=submit], .site-main input[type=submit] {
  display: inline-block;
  zoom: 1;
  line-height: normal;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  user-select: none;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 100%;
  padding: 5px 20px;
  color: rgba(0, 0, 0, 0.80);
  background-color: #E6E6E6;
  text-decoration: none;
  border-radius: 4px;
  &:hover {
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.10));
  }
  &:focus {
    outline: 0;
  }
  &:active {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset, 0 0 6px rgba(0, 0, 0, 0.20) inset;
    border-color: #000 \9
  ;
  }
}

.entry-title {
  color: $color-red;
  padding-bottom: 10px;
}

.entry-content p br {
  content: "";
  margin: 2em;
  display: block;
  font-size: 24%;
}

input.search-field {
  margin-bottom: 5px;
}

.site-main h1, .site-main h2, .site-main h3, .site-main h4, .site-main h5, .site-main h6 {
  color: $color-red;
  text-align: center;
}

.widget-title {
  text-align: center;
  color: $color-red;
  padding-bottom: 5px;
}

.page {
  & > h1 {
    margin-top: 0;
  }
  & .entry-title {
    padding-bottom: 0;
    margin-bottom: 0;
  }
  & .entry-content {
    margin-top: 0;
  }
  & h2 {
    margin-bottom: 10px;
  }
}

@media only screen and (min-device-width: 768px) and (max-width: 1199px) {
  .box {
    width: 100%;

    &:after {
      width: 30%;
    }
    &:before {
      width: 30%;
    }
  }
  .box--phone, .box--address {
    &:after {
      width: 15%;
    }
    &:before {
      width: 15%;
    }
  }
  .box--specialist, .box--helpful {
    &:after {
      width: 12%;
    }
    &:before {
      width: 12%;
    }
  }
  .site-content {
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .box {
    width: 100%;
    min-width: 320px;
    padding-top: 10px;
    margin: 0 auto 20px;

    &:after {
      width: 15%;
      top: 42px;
      left: 10%;
    }
    &:before {
      width: 15%;
      top: 42px;
      right: 10%;
    }
  }
  .box h2.head {
    padding-bottom: 20px;
  }
  .box--helpful, .box--phone, .box--address {
    &:after {
      display: none;
    }
    &:before {
      display: none;
    }
  }
  .site-content {
    width: 100%;
    min-width: 320px;
    flex-direction: column;
  }
  .content-area {
    width: 100%;
    margin-right: 0;
  }
  .widget-area {
    width: 100%;
  }
}