.site-footer {
  background: #343434;
  height: 91px;
}

.site-footer .site-branding {
  padding: 20px 0 0 0;
}

.site-footer .custom-logo-link {
  height: auto;
}

.site-footer .main-navigation {
  padding-top: 32px;
  padding-bottom: 0;
}