.promo {
  height: 583px;
  width: 100%;
  margin: 0;
  position: relative;
}

.promo__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.promo__wrap {
  position: absolute;
  top: 0;
  left: 0;
}