.services {
  padding-bottom: 20px;
  position: relative;
}

.services__caption {
  padding-right: 50px;
  padding-left: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.services__item {
  background: rgba(153, 204, 50, 0.0959013);
  border: 2px solid #99CC32;
  box-sizing: border-box;
  border-radius: 10px;
  width: 30%;
  text-align: center;
  margin-bottom: 30px;
  margin-right: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  cursor: pointer;
  &:nth-child(3n) {
    margin-right: 0;
  }
  &:hover .services__link {
    color: #99CC32;
  }
  &:last-child {
    margin-right: 0;
  }
}

.services__link {
  font-size: 18px;
  letter-spacing: 0.33px;
  color: black;
  transition: color .8s ease;
  &:visited {
    color: darken(#99CC32, 20%);
  }
}

@media only screen and (min-device-width: 768px) and (max-width: 1199px) {

}

@media only screen and (max-width: 767px) {
  .services {
    padding-bottom: 10px;
  }
  .services__caption {
    padding-left: 10px;
    padding-right: 10px;
  }
  .services__item {
    width: 90%;
    margin-right: 0;
    margin-bottom: 10px;
  }
}